body {
    background: #333333;
    color: #CCCCCC;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
}

body * {
    margin: 4px;
}

h2 {
    margin-top: 50px;
}

a {
    color: #CCCCCC;
    text-decoration: none;
    background: #555555;
    padding: 4px;
    border-radius: 5px;
    display: block;
}

a:hover {
    background: #505050;
}

code {
    display: inline-block;
    background-color: #1e2a47;
    color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 4px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}

pre code {
    display: block;
    margin-bottom: 10px;
}

pre {
    margin: 10px 10px;
    padding: 10px;
    background: #555555;
    border-radius: 5px;
}
