body {
  background: #333333;
  color: #CCCCCC;
  font-family: sans-serif;
}

a {
  color: #CCCCCC;
  text-decoration: none;
  background: #555555;
  padding: 4px;
  border-radius: 5px;
  display: block;
}

a:hover {
  background: #505050;
}

.buttons {
  background: #444444;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
}

.top-bar {
    background: #44CC44;
    height: 20px;
    border-radius: 5px 5px 0 0;
}

.bottom-bar {
    background: #44CC44;
    height: 20px;
    border-radius: 0 0 5px 5px;
}

/* Style for the <code> block */
code {
    display: inline-block;
    background-color: #1e2a47; /* Blueish dark background */
    color: #f0f0f0; /* Light text color */
    padding: 8px 12px;
    border-radius: 4px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: scroll;
}

/* Pseudo-element for the copy button */
code::after {
    content: "Copy";
    position: absolute;
    top: 10px;
    left: 0;
    transform: translateY(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    opacity: 0%;
}

/* Hover effect for the button */
code::after:hover {
  background-color: #45a049;
  opacity: 100%;
}

/* Optional: Add a little margin between consecutive code blocks */
pre code {
    display: block;
    margin-bottom: 10px;
}
