body {
    background: #333333;
    color: #CCCCCC;
    font-family: fantasy;
}

a {
    color: #CCCCCC;
    text-decoration: none;
    background: #555555;
    padding: 4px;
    border-radius: 5px;
    display: block;
}

a:hover {
    background: #505050;
}

.buttons {
    background: #444444;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
}

.buttons * {
    margin: 4px;
}

.buttons h2 {
    margin-top: 50px;
}

.top-bar {
    background: #44CC44;
    height: 20px;
    border-radius: 5px 5px 0 0;
}

.bottom-bar {
    background: #44CC44;
    height: 20px;
    border-radius: 0 0 5px 5px;
}

code {
    display: inline-block;
    background-color: #1e2a47;
    color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 4px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}

pre code {
    display: block;
    margin-bottom: 10px;
}

pre {
    font-family: fantasy;
}
